@media (max-width: 767px) {
	body, html{
    background-image: url('../src/1200x2000.webp');
    min-height: 100%;
    min-width: 100%;
  }
  .wrapper{
    flex-direction: column;
    width: 100%;
    min-height: 100%;
    min-width: 100%;
    overflow-x: auto;
  }
  .wrapper-form{
    order: 1;
  }
  .wrapper-form, .wrapper-description{
    width: 100%;
  }
  h1{
    width: 100%;
    text-align: center;
  }
  .form-container{
    width: 90%;
    margin-bottom: 20px;
    margin-top: 30px;
  }
  .form-title {
    margin: 0;
    margin-top: 20px;
    text-align: center;
  }
  .description-container{
    margin: 0;
  }
  .info-winner {
    margin-top: 10px;
  }
  .title, .text{
    padding: 10px;
  }
  .mobile{
    display: none !important;
  }
  .button-mobile{
    display: flex !important;
    order: 2;
  }
  /* .wrapper-description{
    margin-top: 30%;
  } */
}