@font-face { 
    font-family: "MullerLight";
    src: url("fonts/MullerLight.eot");
    src: url("fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/MullerLight.woff") format("woff"),
    url("fonts/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* :root{
    
} */

body, html{

  width: 100%;
  height: 100%;

  min-width: 700px;
  min-height: 500px;

  background-image: url('../src/1920x1080.webp');
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "MullerLight" !important;

  color: #fff;

}
.form-wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}
.form-container{
  max-width: 80%;
  
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  background-color: rgba(255, 230, 0, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.inputs-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff9c;
  margin-top: 20px;
}
label{
  margin-top: 20px;
}

#blah{
  max-width: 150px;
  cursor: pointer;
}
.img-container{
  max-width: 150px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ffffff3a;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;

	text-align: center;
	border-radius: 5px;
	background-color: #ffd900d2;
	padding: 10px 30px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}

  