@font-face { 
    font-family: "MullerLight";
    src: url("fonts/MullerLight.eot");
    src: url("fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/MullerLight.woff") format("woff"),
    url("fonts/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* :root{
    
} */

body, html{

  width: 100%;
  height: 100%;

  min-width: 700px;
  min-height: 500px;

  background-image: url('../src/1920x1080.webp');
  background-repeat: no-repeat;
  background-size: cover;

}
.form-wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}
.form-container{
  width: 500px;
  height: 90%;

  min-width: 300px;
  min-height: 400px;

  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  background-color: rgba(255, 230, 0, 0.253);
}
.inputs-wrapper{
  display: flex;
  flex-direction: column;
}
input{
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff9c;
}

#blah{
  width: 100px;
  height: 100px;
  margin-top: 20px;

  border-radius: 50%;
  box-shadow: 0 0 5px black;
  animation: anim-scale 3s infinite;
  cursor: pointer;
  transition: .3s;
  opacity: 0.7;
  background-image: url('../../assets/pages/profile.webp'); 
  background-repeat: no-repeat;
  background-size: cover;

}

  