@font-face { 
    font-family: "MullerLight";
    src: url("fonts/MullerLight.eot");
    src: url("fonts/MullerLight.eot?#iefix")format("embedded-opentype"),
    url("fonts/MullerLight.woff") format("woff"),
    url("fonts/MullerLight.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
}
/* :root{
    
} */

body, html{

  width: 100%;
  height: 100%;

  min-width: 700px;
  min-height: 650px;

  background-image: url('../src/1920x1080.webp');
  background-repeat: no-repeat;
  background-size: cover;

  font-family: "MullerLight" !important;

  color: #fff;
  overflow: hidden;

}

.button-mobile{
  padding: 15px;
  background-color: rgba(255, 255, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  text-align: center;
}
.button-mobile>button{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 0, 0);
  font-size: 20px;
  cursor: pointer;
  font-family: "MullerLight" !important;
  color: #292929;
  text-align: center;
}
/* .form-wrapper{
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

}
.form-container{
  max-width: 80%;
  
  border: 5px solid #fff;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  background-color: rgba(255, 230, 0, 0.253);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 35px;
}
.inputs-wrapper{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input{
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffffff9c;
  margin-top: 20px;
}
label{
  margin-top: 20px;
}

#blah{
  max-width: 150px;
  cursor: pointer;
}
.img-container{
  max-width: 150px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
  background-color: #ffffff3a;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;

	text-align: center;
	border-radius: 5px;
	background-color: #ffd900d2;
	padding: 10px 30px;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
} */
.wrapper{
  width: 60%;
  height: 100%;
  display: flex;

  min-width: 700px;
  min-height: 650px;
}
.wrapper-form, .wrapper-description{
  width: 50%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}


.form-container{
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  backdrop-filter: blur(10px);
}
.description-container{
  width: 90%;
  height: 95%;
  margin-top: 50px;
}
.description-info{
  width: 100%;
  height: 70%;
}
.description-button{
  width: 100%;
  height: 30%;

  display: flex;
  justify-content: center;
  align-items: center;
}
.description-container>.button>button{
  padding: 15px 40px 15px 40px;
  border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px black;
  font-size: 20px;
  cursor: pointer;
  font-family: "MullerLight" !important;
  color: #292929;
  transition: .3s;
  margin-top: 20px;
}
.description-container>.button>button:hover{
  transform: scale(1.05);
}
.waitSend{
  width: 50px;
  height: 50px;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-radius: 50%;
  animation: wait 1s infinite;
  display: none;
}
@keyframes wait {
  100%{
    transform: rotate(360deg);
  }
}
.info-winner{
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 5px black;
  backdrop-filter: blur(10px);
  margin-top: 30px;
  text-shadow: 0 0 5px black;
  font-size: 18px;
}
.title, .text{
  width: 100%;

  display: flex;
  
  text-align: center;
  padding: 20px;
  text-shadow: 0 0 5px black;
}
.title{
  
  font-size: 30px;
}
.text{
  
  font-size: 20px;
  align-items: center;

}

.button{
  width: 100%;
  display: flex;
  justify-content: center;
}

#blah{
  max-width: 150px;
  cursor: pointer;
}
.img-container{
  max-width: 150px;
  max-height: 200px;
  overflow: hidden;
  border-radius: 20px;
  margin-top: 20px;
}
.input-file{
  margin-bottom: 20px;
  margin-top: 20px;
}
.input-file span {
	position: relative;
	display: inline-block;
	cursor: pointer;

	text-align: center;
	border-radius: 5px;
  background-color: rgba(255, 255, 0, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 5px black;
	padding: 10px 30px;
  color: #292929;
}
.input-file input[type=file] {
	position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
.inputs{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
input{
  width: 80%;

  margin-top: 15px;
  padding: 12px;
  border-radius: 5px;
  background-color: #ffffff7c;
  color: #fff;
}
textarea{
  width: 80%;
  margin-top: 15px;
  border-radius: 5px;
  background-color: #ffffff7c;
  padding: 12px;
  resize: none;
  color: #fff;
}

.form-title{
  width: 100%;

  font-size: 18px;
  margin: 20px;
}
.form-main{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
::placeholder {
 color: #fff;
}
